* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#important{

  color: #fff
}
.card {
  width: 30vh;
  height: 37vh;
  display: inline-grid;
  margin: 1rem 1rem 1rem 1rem;
  transition: transform .3s;
  border-radius: 50px;
  justify-content: center;
  border: 2px solid #fff;

  &:hover{
    transform: translateX(-1.5rem) scale(1.03);
  }


}
.text{
  text-align: center;
  font-size: 1rem;
  letter-spacing: .5rem;
  color: #fff;
  text-decoration: none;
}
.media {
    width: 90px;
    height: 145px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 5% 5% 5% 5%;
}

.home {
  background-color: red;
}
