/* resets the browser  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #fff;
  padding: 35px;
}

/* vh is the viewport height */
.header {
  height: 95vh;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100%;
  background: radial-gradient(#B8BEB4, #9FD2D6);
  background-size: cover;
}

.triangle {
  /* // The actual clipping effect */
  clip-path: url(#cp);

  /* // Keep it proportional */
  width: 50vw;
  height: 50vw;
  max-height: 75vh;
  max-width: 75vh;

  /* // Add the styling */
  background-size: cover;
  background-blend-mode: screen;

  /* // Center them */
  position: absolute;
  top: 50%;
  left: 50%;
}

.first {
  background-color: rgba(209, 70, 28, 0.5)
  background-image: url("https://media.giphy.com/media/YMeiK7R5ExpIwH9JXY/giphy.gif");
  transform: translateX(-65%) translateY(-50%);
}

.second {
  background-color: rgba(10, 6, 0, 0.7))
  background-image: url("https://media.giphy.com/media/l41lFj8afmWIo3yW4/giphy.gif");
  transform: translateX(-35%) translateY(-50%);
  opacity: 0.8;
}


.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

/* top and left are in relation to the parent element */
/* transform is on the element itself and allows it to be center */
.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  text-align: center;
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* hides the backpart behind the element fixes the shaking of the animation */
  backface-visibility: hidden;
  margin-bottom: 60px;

}

.heading-primary-main {
  display: block;
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 35px;
  text-align: center;

  animation-name: moveInLeft;
  animation-duration: .8s;
  animation-timing-function: ease-out;

  /* animation delay, animation count other animation uses */
}

.heading-primary-sub {
  display: block;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 17.4px;
  text-align: center;
  animation: moveInRight 0.8s ease-out
}

/* 2 types of animations using keyframs  */
/* NEED TO SPECIFIY ANIMATION NAME && ANIMATION DURATION   FOR ANIMATION TO WORK */
@keyframes moveInLeft {
  /* begining */
  /* x is left to right y is up to down */
  0% {
    opacity: 0;
    transform: translateX(-100px);

  }

  80% {
    transform: translateX(20px);
  }
  /* end */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  /* begining */
  /* x is left to right y is up to down */
  0% {
    opacity: 0;
    transform: translateX(100px);

  }

  80% {
    transform: translateX(-20px);
  }
  /* end */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

  @keyframes moveInBottom {
    /* begining */
    /* x is left to right y is up to down */
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    /* end */
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

.btn:link,
.btn:visited {
  color: #263645;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 35px;
  display: inline-block;
  border-radius: 100px;
  /* transition needs to be on the initial state */
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(209, 70, 28,0.6);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(209, 70, 28,0.6);
}

.btn-white{
  background-color: #fff;
  color: #777
}


.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index defines the postition if it is one on top of the other */
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}


.btn:hover::after {
  transform: scaleX(1.4) scaleX(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}
