.navigation {

  &__checkbox{
    display: none;
  }

  &__button{
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(255, 255, 255,.1);
    text-align: center;
    cursor: pointer;
  }

  &__background{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#B8BEB4,#263645);
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

    // transform: scale(50);
  }

  &__nav{
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: transform .8s  cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    list-style: none;
    text-align: center;
    width: 100%
  }

  &__item{
    margin: 1rem;
  }

  &__link{
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #263645 50%);
      background-size: 220%;
      transition: all .4s;
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: #263645;
      transform: translateX(1rem)
    }
  }

  //functionality
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav{
    opacity: 1;
    width: 100%;
  }

  //icon

  &__icon{
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: #48425e;
      display: inline-block;
    }
    &::before,
    &::after{
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }
    &::before{ top: -.8rem;}
    &::after{ top: .8rem; }
  }

  &__button:hover &__icon::before{
    top: -1rem;
  }
  &__button:hover &__icon::after{
    top: 1rem;
  }
  &__button:checked + &__button &__icon::before{
    top: 0;
    transform: rotate(135deg);
  }
  &__button:checked + &__button &__icon::after{
    top: 0;
    transform: rotate(-135deg);
  }

}
