.description{
  color: black;
  text-align: center;
  padding-bottom: 10px;
}

/* 2 types of animations using keyframs  */
/* NEED TO SPECIFIY ANIMATION NAME && ANIMATION DURATION   FOR ANIMATION TO WORK */
#id{
  margin-top: 500px;
}
