.description{
  color: black;
  text-align: center;
  padding-bottom: 10px;
}

/* 2 types of animations using keyframs  */
/* NEED TO SPECIFIY ANIMATION NAME && ANIMATION DURATION   FOR ANIMATION TO WORK */

.btn {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index defines the postition if it is one on top of the other */
  z-index: -1;
  transition: all .4s;
}
